.main {
  display: flex;
  height: 1051px;
}

/*.menu {
  width: 240px;
  background-color: #fff;
  border-right: 1px solid #E3E3E4;
  padding: 20px;
}*/

.menu {
  width: 240px;
  border-right: 1px solid #E3E3E4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu1 {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #E3E3E4;
}

.menu2 {
  align-self: center;
}

.menu3 {
  border-top: 1px solid #E3E3E4;
}

.content {
  flex: 1;
  padding: 20px;
  width: 960px;
  background-color: #fff;
}

.text{
  margin: 32px 80px;
}

.checkbox{
  margin-right: 10px;
  border: 1px solid #C4C4C7;
}